body {
    background-color:313338;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#tagline{
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-size:1.5em;
}
#title {
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding-top:10%;
    font-size: 3em;
    text-shadow: 3px 1px #0FFBF9, -3px 1px #FF3F4A;
}
#nav{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    border: #fff 1px;
}
ul#menu li{
    display: inline;
    padding: 2%;
}
a{
    color: white;
    text-decoration: none;
}
hr{
    width:60%;
}
#content{
    width: 90%;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top:2%;
}
.post-content {
    margin: 20px 0;
    padding: 15px;
}
.container {
    margin: auto;
    overflow: hidden;
}
.post-preview {
    background: 2b2d31;
    margin: 20px 0;
    padding: 15px;
    border: #ddd 1px solid;
}
.post-preview h2 {
    margin: 0;
}
.post-preview h3 {
    margin: 0;
    color:#bbb
}
.post-preview a{
    text-decoration: underline;
}